@font-face {
  
  src: url(./fonts/Eina02-Regular.ttf);
  font-family: eina;
  src: url(./fonts/quarto-bold.ttf) ;
  font-family: quarto;
  src: url(./fonts/Eina01-SemiBold.ttf);
  font-family: einaSemiBold;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root{
  --color-bg:#E5E5E5;
  --color-bg-variant:linear-gradient(183.49deg, rgba(0, 74, 223, 0.24) 0.82%, rgba(231, 237, 242, 0.24) 97.09%);
  --color-primary: #263F9B;
  --color-black:#181818;
  --color-black-secondary:#232323;
--container-width-lg: 1440px;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body{
font-family:eina,sans-serif;

color: var(--color-black);
line-height: 1.7;
background-color: #181818;

}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  background: var(--color-bg);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family:quarto,sans-serif ;
  color: white;
}

h1{
  font-weight: 900;
    color: white;
  font-size: 64px;
  font-style: normal;
  line-height: 76px;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
} 

section > h2,
section > h4   {
text-align: center;
color:var(--color-primary);
margin-bottom: 3rem;
}
a{
  color: #004ADF;
  transition: var(--transition);
}
a:hover{
  color: white;
  border-bottom: 1px solid var(--color-primary);
  cursor:pointer;
}
.btn{
  width: max-content;
  display: inline-block;
  background-color:#458DEA;
  padding: 0.75rem 1.2rem;
height: 50px;
width: 162px;
  color: white;
  text-align: center;
  font-size: 16px;
  transition: var(--transition);
  font-family:einaSemiBold ;
  cursor: pointer;
  

  
}
.btn:hover{
  background-color: white;
  color: #458DEA;
  border-color: transparent;
}